# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/

# Env
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Data
data/*
!data/.gitkeep
!data/**/
!data/**/.gitkeep
data/**/*
!data/**/
!data/**/.gitkeep

# Spark
spark-warehouse/
metastore_db/
*.crc
.pytest_cache/
.ruff_cache/
.mypy_cache/

# DuckDB
*.duckdb
*.duckdb.wal

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
